@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Fira Sans', sans-serif;
}
  
*{
    margin: 3px 10px 5px 10px;
}
.hero{
    background-color: #C6E4D6;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    padding: 80px 100px;
    margin: 40px 5px;
    height: auto;
    width: auto;
}
.hero-title{
    margin: 100px;
    
}
.hero-title-heading{
    color: #0E0E0E;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight:300;
}
.hero-title-context{
    font-size: xx-large;
    font-weight: bolder;
    margin-bottom: 24px;
}
.hero-button{
    border-radius: 8px;
    padding: 17px 34px;
    background-color: #006A50;
    color: white;
    font-weight: bolder;
    border: none;
}
.hero-button:hover{
    background-color: #abd8c4; 
    transform: translateY(-4px); 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 4);
    color: green;
    font-size: larger;
    font-weight: 400px;
}

/* Universal css */

.main-context-title{
    font-size: xx-large;
    font-weight:800;
    margin: 30px 0px;
}

/* MAIN CONTEXT BOX */

.main-context-boxes{
    display: flex;
    margin-bottom: 30px;
    padding: 20px 0px;
}
.main-context-details{
    margin-bottom: 20px;
}
.main-content-box-1{
    background-color: #BBCCEA;
    margin-right: 20px;
    border-radius: 20px;
    padding: 30px;
}
.main-content-box-2{
    background-color: #C6E4D6;
    margin-right: 20px;
    border-radius: 20px;
    padding: 30px;
}
.main-content-box-3{
    background-color: #F7EBCF;
    border-radius: 20px;
    padding: 30px;
}
.main-content-box-1-button{
    background-color: #5490F5;
    color: white;
    border-radius: 10px;
    padding: 8px 12px;
    font-weight: bolder;
    border: none;
}
.main-content-box-1-button:hover{
    background-color: #5a7ebd; 
    transform: translateY(-4px); 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 4);
    color: white;
    font-size: larger;
    font-weight: 400px;
}

.main-content-box-2-button{
    background-color: #09A15C;
    color: white;
    border-radius: 10px;
    padding: 8px 12px;
    font-weight: bolder;
    border: none;
}
.main-content-box-2-button:hover{
    background-color: #5a8572; 
    transform: translateY(-4px); 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 4);
    color: white;
    font-size: larger;
    font-weight: 400px;
}
.main-content-box-3-button{
    background-color: #FFC239;
    color: white;
    border-radius: 10px;
    padding: 8px 12px;
    font-weight: bolder;
    border: none;
}
.main-content-box-3-button:hover{
    background-color: #bdb298; 
    transform: translateY(-4px); 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 4);
    color: white;
    font-size: larger;
    font-weight: 400px;
}

/* News box slider  */

.news-box-heading{
    margin-bottom: 40px;
}
.news-box-sliders{
    margin: 20px;
}
.news-box-slider{
    display: flex;
    margin: 70px;
}
.news-box-slider-img{
    border-radius: 5%;
}
.news-box-slider-context{
    margin: 0px 30px;
}
.date-time,
.time {
    display: inline;
    margin-right: 10px;
}
.news-box-slider-context-details{
    pad: 3px 70px;
}
.news-box-slider-button{
    background-color: #006A50;
    color: white;
    border-radius: 10px;
    padding: 8px 12px;
    font-weight: bolder;
    border: none;
    margin-top: 20px;
}
.news-box-slider-button:hover{
    background-color: #04642f; 
    transform: translateY(-4px); 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 4);
    color: white;
    font-size: larger;
    font-weight: 400px;
    padding: 10px 15px;
}



/* donate box css */

.donate-box-heading{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 80px 10px;
}

.donate-money-box{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: 900;
    border-color: black;
}
.donate-box-title{
    margin-bottom: 30px;
}
.active{
    background-color: #C6E4D6;
}
.donate-money-box p {
    padding: 20px 40px;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-bottom: 30px;
}
.donate-money-box p:hover{
    background-color: #C6E4D6; 
    transform: translateY(-4px); 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 4);
    color: black;
}

form input {
    width: 300px;
    padding: 10px;
    font-size: 1rem;
    border: 0px;
    text-align: center;
    border-bottom: 1px solid  gray;
    width: 70%;
}


/* newslateer section */

.news-letter-section{
    text-align: center;
    background-color: #C6E4D6;
    border-radius: 9px;
    padding: 10px 20px;
}
.news-letter-description{
    margin-bottom: 20px;
}

.news-letter-subscribe-box {
    display: flex;
    max-width: 600px;
    margin: 20px auto;
    /* Remove any default spacing */
    font-size: 0;
}

.news-letter-subscribe-box input[type="email"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 14px;
    margin: 0;
}

.news-letter-subscribe-box button {
    padding: 10px 20px;
    background-color: #006241;
    color: white;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 14px;
    margin: 0;
}
.news-letter-subscribe-box button:hover{
    background-color: #209b122f; 
    transform: translateY(-4px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 2); 
    font-weight: 900;
    color: green;
}

.news-letter-instruction-message{
    margin-bottom: 10px;
}