.hero{
    background-color: #C6E4D6;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    padding: 80px 100px;
    margin: 40px 5px;
    height: auto;
    width: auto;
}
.hero-title{
    margin: 100px;
    
}
.hero-title-heading{
    color: #0E0E0E;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight:300;
}
.hero-title-context{
    font-size: xx-large;
    font-weight: bolder;
    margin-bottom: 24px;
}
.hero-button{
    border-radius: 8px;
    padding: 17px 34px;
    background-color: #006A50;
    color: white;
    font-weight: bolder;
}

/* Universal css */

.main-context-title{
    font-size: xx-large;
    font-weight:800;
    margin: 30px 0px;
}

/* MAIN CONTEXT BOX */

.main-context-boxes{
    display: flex;
    margin-bottom: 30px;
    padding: 20px 0px;
}
.main-context-details{
    margin-bottom: 20px;
}
.main-content-box-1{
    background-color: #BBCCEA;
    margin-right: 20px;
    border-radius: 20px;
    padding: 30px;
}
.main-content-box-2{
    background-color: #C6E4D6;
    margin-right: 20px;
    border-radius: 20px;
    padding: 30px;
}
.main-content-box-3{
    background-color: #F7EBCF;
    border-radius: 20px;
    padding: 30px;
}
.main-content-box-1-button{
    background-color: #5490F5;
    color: white;
    border-radius: 10px;
    padding: 8px 12px;
    font-weight: bolder;
    border: none;
}
.main-content-box-2-button{
    background-color: #09A15C;
    color: white;
    border-radius: 10px;
    padding: 8px 12px;
    font-weight: bolder;
    border: none;
}
.main-content-box-3-button{
    background-color: #FFC239;
    color: white;
    border-radius: 10px;
    padding: 8px 12px;
    font-weight: bolder;
    border: none;
}